In [4]:
def e_or_o(num):
    if num%2==0:
        return "The {} is even".format(num)
    else:
        return "The {} is odd".format(num)

In [5]:
e_or_o(29)

'The 29 is odd'

In [8]:
lst = [11,22,33,1,2,3,76,37,8,345,8764]

In [10]:
for i in lst:
    val = e_or_o(i)
    print(val)

The 11 is odd
The 22 is even
The 33 is odd
The 1 is odd
The 2 is even
The 3 is odd
The 76 is even
The 37 is odd
The 8 is even
The 345 is odd
The 8764 is even

In [12]:
list(map(e_or_o, lst))

['The 11 is odd',
 'The 22 is even',
 'The 33 is odd',
 'The 1 is odd',
 'The 2 is even',
 'The 3 is odd',
 'The 76 is even',
 'The 37 is odd',
 'The 8 is even',
 'The 345 is odd',
 'The 8764 is even']

In [14]:
myval = lambda a:a%2==0

In [15]:
myval(29)

False

In [16]:
myadd = lambda a,b,c: a+b+c

In [17]:
myadd(12,232,12)

256