In [2]:
## Pandas
import pandas as pd
import numpy as np

In [6]:
df = pd.DataFrame(np.arange(0,20).reshape(5,4),index=["row1","row2","row3","row4","row5"], columns=["Col1", "Col2", "Col3", "Col4"])

In [7]:
df

      Col1  Col2  Col3  Col4
row1     0     1     2     3
row2     4     5     6     7
row3     8     9    10    11
row4    12    13    14    15
row5    16    17    18    19

In [8]:
df.to_csv('samp.csv')

In [9]:
df.loc['row1']

Col1    0
Col2    1
Col3    2
Col4    3
Name: row1, dtype: int32

In [10]:
type(df.loc['row1'])

pandas.core.series.Series

In [11]:
df.shape

(5, 4)

In [14]:
type(df.iloc[2:,3:])

pandas.core.frame.DataFrame

In [17]:
df.loc['row1']

Col1    0
Col2    1
Col3    2
Col4    3
Name: row1, dtype: int32

In [19]:
type(df.iloc[0:2,0])

pandas.core.series.Series

In [22]:
type(df.iloc[0, 0:2])

pandas.core.series.Series

In [24]:
arrdf = df.iloc[:,:].values

In [25]:
arrdf

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11],
       [12, 13, 14, 15],
       [16, 17, 18, 19]])

In [26]:
arrdf.shape

(5, 4)

In [27]:
df.isnull().sum()

Col1    0
Col2    0
Col3    0
Col4    0
dtype: int64

In [29]:
df['Col1'].value_counts()

0     1
8     1
4     1
16    1
12    1
Name: Col1, dtype: int64

In [30]:
df['Col1'].unique()

array([ 0,  4,  8, 12, 16])

In [33]:
df[['Col3','Col1']]

      Col3  Col1
row1     2     0
row2     6     4
row3    10     8
row4    14    12
row5    18    16